Dataset - https://www.kaggle.com/datasets/ramkrijal/tomato-daily-prices?resource=download

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('Tomato.csv')
df

            Date Unit  Minimum  Maximum  Average  Market
0     2013-06-16   Kg       26       32     29.0  Tomato
1     2013-06-17   Kg       20       25     22.5  Tomato
2     2013-06-18   Kg       22       26     24.0  Tomato
3     2013-06-19   Kg       24       28     26.0  Tomato
4     2013-06-20   Kg       22       26     24.0  Tomato
...          ...  ...      ...      ...      ...     ...
2736  2021-05-09   Kg       10       15     12.5  Tomato
2737  2021-05-10   Kg       10       15     12.5  Tomato
2738  2021-05-11   Kg       10       15     12.5  Tomato
2739  2021-05-12   Kg       30       35     32.5  Tomato
2740  2021-05-13   Kg       35       40     37.5  Tomato

[2741 rows x 6 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2741 entries, 0 to 2740
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     2741 non-null   object
 1   Unit     2741 non-null   object
 2   Minimum  2741 non-null   int64
 3   Maximum  2741 non-null   int64
 4   Average  2741 non-null   float64
 5   Market   2741 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 128.6+ KB

In [4]:
# Convert the 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'])

In [5]:
correlation_matrix = df.corr()

ValueError: could not convert string to float: 'Kg'

In [ ]:
# Visualize correlation matrix using a heatmap
sns.heatmap(correlation_matrix, annot=True, cmap="coolwarm", fmt=".2f")
plt.title('Correlation Matrix')
plt.show()

In [ ]:
# Time series plot for average prices
plt.figure(figsize=(12, 6))
sns.lineplot(x='Date', y='Average', data=df)
plt.title('Time Series Plot of Average Tomato Prices')
plt.xlabel('Date')
plt.ylabel('Average Price')
plt.show()

In [ ]:
# Boxplot for minimum, maximum, and average prices
plt.figure(figsize=(12, 8))
sns.boxplot(data=df[['Minimum', 'Maximum', 'Average']])
plt.title('Boxplot of Minimum, Maximum, and Average Tomato Prices')
plt.ylabel('Price')
plt.show()

In [ ]:
# Market-wise analysis
market_summary = df.groupby('Market').agg({'Minimum': 'mean', 'Maximum': 'mean', 'Average': 'mean'})

# Bar plot for market-wise average prices
market_summary.plot(kind='bar', figsize=(10, 6))
plt.title('Market-wise Average Tomato Prices')
plt.ylabel('Average Price')
plt.show()

In [ ]:

from statsmodels.tsa.arima.model import ARIMA



# Read the dataset

df = pd.read_csv('Tomato.csv')
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)

# Visualize the time series
plt.figure(figsize=(12, 6))
plt.plot(df['Average'])
plt.title('Time Series Plot of Average Tomato Prices')
plt.xlabel('Date')
plt.ylabel('Average Price')
plt.show()

# Define a function to fit the ARIMA model
def fit_arima_model(data, order=(1, 1, 1)):
    model = ARIMA(data, order=order)
    model_fit = model.fit()
    return model_fit

# Fit the ARIMA model
arima_model = fit_arima_model(df['Average'], order=(1, 1, 1))

# Save the model using joblib
import joblib
joblib.dump(arima_model, 'arima_model.joblib')

In [ ]:
# Define a function to fit the ARIMA model
def fit_arima_model(data, order=(1, 1, 1)):
    model = ARIMA(data, order=order)
    model_fit = model.fit()
    return model_fit

# Fit the ARIMA model
arima_model = fit_arima_model(df['Average'], order=(1, 1, 1))

# Save the model using joblib
import joblib
joblib.dump(arima_model, 'modelTime.joblib')